version: '3.8'
services:
  2rlabs-web:
    build:
      context: .
      args:
        NEXT_PUBLIC_BASE_PATH: /2rlabs-web
    container_name: 2rlabs-web
    restart: unless-stopped
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_SITE_URL: http://46.36.38.188/2rlabs-web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.2rlabs-web.rule=PathPrefix(`/2rlabs-web`)"
      - "traefik.http.routers.2rlabs-web.entrypoints=web"
      - "traefik.http.services.2rlabs-web.loadbalancer.server.port=80"
      - "traefik.http.middlewares.2rlabs-web-strip.stripprefix.prefixes=/2rlabs-web"
      - "traefik.http.routers.2rlabs-web.middlewares=2rlabs-web-strip"
    networks:
      - web

networks:
  web:
    external: true
